##Exercise 1: my name

In [2]:
#declare a variable and the value
my_name = "Patricia"
#print to generate result
print(my_name)

Patricia

##Exercise 2: my age

In [3]:
#declare a variable and the value
my_age = 45
#print to generate result
print(my_age)

45

##Exercise 3 : age_diff

In [4]:
#declare a variable and the value
julia_age = 32
#declare a variable and the value
my_age = 45
#print to generate result
print(my_age)
#calculates the age difference and assigns the result to a new variable called age_diff. 
age_diff = (my_age - julia_age)
#print to make visible the result
print(age_diff)

45
13

##Exercise 4: compare ages (CONDITIONALS)

In [5]:
#declare a variable and the value
my_age = 45
#if statement to check if the value stored in my_age is greater than 21 and print the sentence ("You are older than 21")

if my_age > 21 :
    print("You are older than 21")
#if statement is false, start else condition and print "You are younger than 21"
else:
    print ("You are younger than 21")

You are older than 21

##Exercise 5

In [6]:
#similar to the previous code but using also elif 
my_age = 45
julia_age = 32

if my_age < julia_age:
    print("Julia is older than you")
elif my_age > julia_age:
    print("Julia is younger than you")
else: 
    print("You have the same age as Julia")

Julia is younger than you

##Exercise 6 : List of names, print the 1st and last element, sort and Loop for

In [7]:
#variable is a list with values in string format in it
my_list = ["Jost Lepere", "Killian Meehan", "Lucas Dupias", "Muayad Sirafy", "Raul Hernandez", "Andres Schondube", "Gabriela Arlt", "Godwin Oti", "Lucas Meissner", "Pierre Loyal", "Patricia Luque Serrano", "Sarah Bianco"]
#sorted the list by 1st name
my_list.sort ()
#printed the value in the 1st index position in the list
print (my_list[0])
#printed the value in the last index position in the list
print (my_list[-1])

#for loop to iterates through each index (i) in the range of length of my list and print a list including all index of the sorted list
for i in range (len(my_list)):
    print (my_list[i])

Andres Schondube
Sarah Bianco
Andres Schondube
Gabriela Arlt
Godwin Oti
Jost Lepere
Killian Meehan
Lucas Dupias
Lucas Meissner
Muayad Sirafy
Patricia Luque Serrano
Pierre Loyal
Raul Hernandez
Sarah Bianco

###Exercise 7: Student age

In [8]:
students_age = [24, 25, 27, 28, 39, 45]

# Print the original list of students' ages
print(students_age)

# Using a for loop to print even numbers where num=name given to the element to be checked from the list student_age. If the "if" statement has been fulfilled then is an even number and should be printed

for num in students_age:
    if num % 2 == 0:
        print(num)

# Initializing a counter variable for the while loop
num = 0
# sets up a while loop that continues to execute as long as the value of num is less than the length of the students_age.
# to check also even numbers
while num < len(students_age):
    # condition to check the even numbers
    if students_age[num] % 2 == 0:
        print(students_age[num])
    num += 1

[24, 25, 27, 28, 39, 45]
24
28
24
28

##Exercise 8: Write a list and print the lowest

In [9]:
list1=[14,25,28,100,99,98,24,23]
#function min
min_value=min(list1)
print(min_value)

14

##Exercise 9: Write a list and print the highest

In [10]:
list1=[14,25,28,100,99,98,24,23]
#function max to calculate the max value form the list, the value for the variable
max_value=max(list1)
print(max_value)

100

##Exercise 10: Calculate the age of a customer having the year

In [11]:
list2=[1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
#empty list to set the values from gotten from the for loop execution
list3 = []
#year is the loop variable to iterates into the list2 (year)
for year in list2:
    list3=2024-year
    print(list3)

25
29
19
14
17
18
30
28
45
16

##Exercise 11: extract name and calculate the age of a customer

In [12]:
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
#a=variable with the current year as value
a=2024
#x=for loop variable to iterate though the list and get the real age
for x in customer_list:
    real_age=a-x["age"]
    #x= for loop to get the name associated to the year
    print(x["name"], "is", real_age)

Bob is 25
Jack is 29
Lisa is 19
Maria is 14
Ben is 17
Emma is 18
Oscar is 30
Amy is 28
Paul is 45
Etta is 16

##Exercise 12: remove items without using min or max

In [13]:
list_ages = [25,29,14,17,18,30,28,45,16]
#None=0        
youngest_person = None
#checks whether youngest_person is None or if the current age (number) is less than the current value of youngest_person. If either condition is true, it updates youngest_person with the current age.

for number in list_ages:
    if youngest_person is None or youngest_person < number:
        youngest_person = number
        
print(youngest_person)

oldest_person = None

for number in list_ages:
    if oldest_person is None or oldest_person > number:
        oldest_person = number
        
print(oldest_person)

#Using remove method 
list_ages = [25,29,14,17,18,30,28,45,16]
list_ages.remove(45)
list_ages.remove(14)
print(list_ages)

45
14
[25, 29, 17, 18, 30, 28, 16]

In [14]:
#Another way to remove values from a list
list_ages = [25,29,14,17,18,30,28,45,16]
list_ages=[age for age in list_ages if age != 45]
list_ages=[age for age in list_ages if age != 14]
print("List after element removal:", list_ages)

List after element removal: [25, 29, 17, 18, 30, 28, 16]

##Exercise 13: create a list with common ages (Comprehension list)

In [15]:
#variable common as name of the new list which will be the "house" of the common values. Then intersection method to get the common values
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
common = list (set (berlin).intersection (munich))
print (common)

[10, 13, 15, 16, 18, 19]

##Exercise 14: remove duplicates

In [16]:
ages = [15, 13, 16, 18, 19, 15, 10]

print(str(ages))

unique_set = set()
new_list = [n for n in ages if n not in unique_set and not unique_set.add(n)]

print("The list after removing duplicates: " + str(new_list))

[15, 13, 16, 18, 19, 15, 10]
The list after removing duplicates: [15, 13, 16, 18, 19, 10]

##Exercise 15: function welcome

In [2]:
#function with 2 parameters name 1 and name2
def welcome (name1,name2):      # sourcery skip: use-fstring-for-concatenation
    print("Welcome "+ name1 +" have a nice day")
    print("Welcome " + name2 + " have a nice day")
    
# Calling the function 
welcome("Jost", "Evelyn")

Welcome Jost have a nice day
Welcome Evelyn have a nice day

##Exercise 16:  a function that takes a string as input and calculates the length.

In [18]:
#function calculates the length of string uses a for loop to iterate through each character in the string and increments a counter (length) for each character. The final count represents the length of the string, and the function returns this value.

def get_length(string):
    length = 0

    for x in string:
        length += 1

    return length

print(get_length('Hello'))
print(get_length('Hi'))

5
2

##Exercise 17:  a function which checks whether a number is even.

In [19]:
def check_even(number):
    if number % 2 == 0:
        return "Yes"
    else:
        return "No"

print(check_even(6))
print(check_even(5))

Yes
No

##Exercise 18:  rewrite exercises 11,12,13,14 and 15 as a function.

In [20]:
#Exercise 11 as a function (calculate age and build a function)

def print_customer(customer_list):


    for x in customer_list:
        real_age=2024-x["age"]
        print(x["name"], "is", real_age)

    
    customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]

print_customer(customer_list)

Bob is 25
Jack is 29
Lisa is 19
Maria is 14
Ben is 17
Emma is 18
Oscar is 30
Amy is 28
Paul is 45
Etta is 16

In [21]:
print_customer(customer_list)

Bob is 25
Jack is 29
Lisa is 19
Maria is 14
Ben is 17
Emma is 18
Oscar is 30
Amy is 28
Paul is 45
Etta is 16

In [42]:

def remove_youngest_and_oldest(old_list):
    old_list.sort()
    old_list.pop(0)
    old_list.pop()
    return old_list

old_list = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
result_list = remove_youngest_and_oldest(old_list)
print(result_list)

NameError: name 'Python' is not defined

In [ ]:
#Exercise 13 as a function (create a common list)

def common_num(list1,list2):
    
    common=[]
    for num in list1:
        if num in list2:
            common.append(num)
    return common

berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
print(common_num(berlin, munich))

[15, 13, 16, 18, 19, 10]

In [43]:
def no_duplicates(num):
    return list(set(num))

duplicates = [15, 13, 16, 18, 19, 15, 10]
result_list = no_duplicates(duplicates)
print(result_list)

[10, 13, 15, 16, 18, 19]

In [40]:
#Exercise 18. Everything in a function
def total_function(): 
    def welcome_and_check(name1, name2):
        print(f"Welcome {name1}! Have a nice day.")
        print(f"Welcome {name2}! Have a nice day.")

    def get_length(string):
        return len(string)

    def check_even(number):
        return "Yes" if number % 2 == 0 else "No"

    welcome_and_check("Jost", "Evelyn")
string_length = get_length('Hello')

print(f"The length of the string is: {string_length}")

even_result_1 = check_even(6)
even_result_2 = check_even(5)

print(f"Is 6 even? {even_result_1}")
print(f"Is 5 even? {even_result_2}")

The length of the string is: 5
Is 6 even? Yes
Is 5 even? No

In [36]:
total_function

##Exercise 19:function that takes an input list and value of age to find as input and return true or false

In [ ]:

def is_age_present(num):
    ages = [25, 29, 14, 17, 18, 30, 28, 45, 16]

    if num in ages:
        print("True")
    else:
        print("False")
user_age = int(input("Enter your age: "))
is_age_present(user_age)

True

INTERMEDIATE LEVEL

SET 1

In [37]:

def test(any_list):
    odd_list = []
    even_list = []
    for x in any_list:
        if x % 2 != 0:
            odd_list.append(x)
        else:
            even_list.append(x)
            
    if len(odd_list) > 1:
        return odd_list[0]
    else:
        return even_list[0]

# Example usage
my_list = [3, 8, 5, 12, 7]
result = test(my_list)
print(f"The result is: {result}")

The result is: 3

In [39]:
all_ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
age_min = min(all_ages)
age_max = max(all_ages)

# Remove the minimum and maximum values from the list
all_ages.remove(age_min)
all_ages.remove(age_max)

print(all_ages)

[20, 24, 14, 12, 13, 25, 23, 11]

In [1]:
pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\patri\anaconda3\lib\site-packages (0.21.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\patri\anaconda3\lib\site-packages (0.21.0)
Note: you may need to restart the kernel to use updated packages.