In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('movies_2.csv')
df.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

###Pandas Exercises

In [4]:
df = pd.read_csv('movies_2.csv')

In [5]:
df

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###number of rows and columns present in the data set

In [6]:
df.shape

(616, 11)

### columns present in the data set, along with the data type

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [8]:
df.dtypes

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

### MPAA Rating, Budget, Gross, Release Date, Genre, Runtime, Rating and Rating Count columns how many NaN we have

In [9]:
df

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:

columns = ['MPAA Rating', 'Budget', 'Gross', 'Release Date', 'Genre', 'Runtime', 'Rating', 'Rating Count']
total_nan = df[columns].isna().sum()
print(total_nan)

MPAA Rating       1
Budget            1
Gross             1
Release Date      1
Genre             1
Runtime           1
Rating          108
Rating Count    108
dtype: int64

### Irrelevant data

In [11]:
df

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df=df.drop(columns="Summary")

In [13]:
df

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Standardize

In [14]:
movies=df.rename(columns={"MovieID":"movie_id", "Title":"title", "MPAA Rating": "mpaa_rating","Budget":"budget_USD","Gross":"gross_USD","Release Date":"release_date","Genre":"genre","Runtime":"runtime_min","Rating":"rating","Rating Count":"rating_count"})

In [15]:
movies

,movie_id,title,mpaa_rating,budget_USD,gross_USD,release_date,genre,runtime_min,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Drop

In [16]:
movies=movies.drop([615])

In [17]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      615 non-null    int64
 1   title         615 non-null    object
 2   mpaa_rating   615 non-null    object
 3   budget_USD    615 non-null    float64
 4   gross_USD     615 non-null    float64
 5   release_date  615 non-null    object
 6   genre         615 non-null    object
 7   runtime_min   615 non-null    float64
 8   rating        508 non-null    float64
 9   rating_count  508 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 48.2+ KB

In [18]:
movies

,movie_id,title,mpaa_rating,budget_USD,gross_USD,release_date,genre,runtime_min,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN

### Rating

In [19]:
movies["rating"].fillna(value=movies["rating"].median(), inplace=True)

In [20]:
movies

,movie_id,title,mpaa_rating,budget_USD,gross_USD,release_date,genre,runtime_min,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,NaN

In [21]:
movies["rating_count"].fillna(value=movies["rating_count"].median(), inplace=True)

In [22]:
movies

,movie_id,title,mpaa_rating,budget_USD,gross_USD,release_date,genre,runtime_min,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,240347.5
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,240347.5
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,240347.5
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,240347.5
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5

### Duplicates

In [23]:
movies = pd.DataFrame(movies)
display(movies.drop_duplicates())

,movie_id,title,mpaa_rating,budget_USD,gross_USD,release_date,genre,runtime_min,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,240347.5
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,240347.5
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,240347.5
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,240347.5
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5

In [24]:
movies = pd.DataFrame(movies)
movies['budget_USD'] = movies['budget_USD'].astype(int)
movies['gross_USD'] = movies['gross_USD'].astype(int)
movies['release_date'] = pd.to_datetime(movies['release_date'])

In [25]:
movies

,movie_id,title,mpaa_rating,budget_USD,gross_USD,release_date,genre,runtime_min,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000,296000000,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000,161001698,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000,385900000,2019-05-13,Adventure,132.0,6.9,240347.5
611,612,Toy Story 4,G,200000000,1062000000,2019-06-11,Animation,100.0,6.9,240347.5
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000,759400000,2019-07-13,Thriller,136.0,6.9,240347.5
613,614,The Lion King,PG,250000000,1632000000,2019-07-09,Drama,118.0,6.9,240347.5
614,615,Avengers: Endgame,PG-13,356000000,-2147483648,2019-04-22,Action,181.0,6.9,240347.5

### show the movies with more than 7 in Rating & greater than 50 million Gross

In [26]:
movies[(movies['rating'] > 7) & (movies['gross_USD'] > 5e7)]

,movie_id,title,mpaa_rating,budget_USD,gross_USD,release_date,genre,runtime_min,rating,rating_count
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000,161001698,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0
6,7,When Harry Met Sally...,R,16000000,92800000,1989-07-21,Romance,96.0,7.6,180871.0
...,...,...,...,...,...,...,...,...,...,...
505,506,Big Hero 6,PG,165000000,652105443,2014-10-24,Animation,102.0,7.8,380953.0
506,507,Interstellar,PG-13,165000000,675120017,2014-11-05,Science Fiction,169.0,8.6,1343549.0
507,508,Captain America: The Winter Soldier,PG-13,170000000,714766572,2014-03-20,Action,136.0,7.7,685903.0
508,509,Dawn of the Planet of the Apes,PG-13,170000000,710644566,2014-06-26,Science Fiction,130.0,7.6,395425.0
509,510,Guardians of the Galaxy,PG-13,170000000,773328629,2014-07-30,Action,121.0,8.0,978222.0

### show the movies with more than 7 in Rating & greater than 50 million Gross & with Parental guidance as MPAA Rating

In [27]:
movies[(movies['rating'] > 7) & (movies['gross_USD'] > 5e7) & (movies['mpaa_rating'] == 'PG')]

,movie_id,title,mpaa_rating,budget_USD,gross_USD,release_date,genre,runtime_min,rating,rating_count
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0
7,8,Dead Poets Society,PG,16400000,235860116,1989-06-02,Drama,129.0,8.1,382002.0
13,14,Batman,PG,35000000,411348924,1989-06-23,Action,126.0,7.5,319517.0
15,16,The Little Mermaid,PG,40000000,222300000,1989-11-17,Animation,83.0,7.6,219221.0
16,17,Back to the Future Part II,PG,40000000,332000000,1989-11-20,Science Fiction,108.0,7.8,438940.0
19,20,Steel Magnolias,PG,15000000,95904091,1989-11-15,Drama,119.0,7.3,43037.0
24,25,Home Alone,PG,18000000,476684675,1990-11-09,Family,103.0,7.6,414472.0
32,33,The Hunt for Red October,PG,30000000,199200000,1990-03-02,Thriller,134.0,7.6,167212.0
34,35,Back to the Future Part III,PG,40000000,244527583,1990-05-25,Family,118.0,7.4,369652.0
45,46,Teenage Mutant Ninja Turtles II,PG,25000000,78600000,1991-03-22,Action,88.0,8.0,397467.0
46,47,Beauty and the Beast,PG,25000000,377350553,1991-11-13,Animation,84.0,8.0,397467.0
49,50,Star Trek VI: The Undiscovered Country,PG,27000000,96900000,1991-12-05,Science Fiction,113.0,7.2,66086.0
72,73,A League of Their Own,PG,40000000,107458785,1992-07-01,Comedy,128.0,7.2,85932.0
80,81,Groundhog Day,PG,14600000,70906973,1993-02-11,Comedy,101.0,8.0,549538.0
106,107,Star Trek: Generations,PG,38000000,120000000,1994-11-17,Science Fiction,118.0,8.5,869127.0
126,127,Mr. Holland's Opus,PG,31000000,106269971,1995-12-29,Family,137.0,7.3,33906.0
130,131,Apollo 13,PG,52000000,355237933,1995-06-30,Drama,140.0,7.6,250975.0
174,175,Contact,PG,90000000,171120329,1997-07-11,Science Fiction,150.0,7.4,239569.0
185,186,The Truman Show,PG,60000000,264118201,1998-06-04,Comedy,103.0,8.1,859224.0
188,189,The Prince of Egypt,PG,70000000,218613188,1998-12-15,Animation,99.0,7.1,110340.0
215,216,Tarzan,PG,150000000,448000000,1999-06-18,Animation,88.0,7.3,187724.0
220,221,Remember the Titans,PG,30000000,136706683,2000-09-29,Drama,113.0,7.8,186997.0
241,242,Shrek,PG,60000000,484409218,2001-05-16,Animation,90.0,7.8,574978.0
255,256,Harry Potter and the Sorcerer's Stone,PG,125000000,975100000,2001-11-04,Fantasy,152.0,7.6,583224.0
261,262,Ice Age,PG,59000000,383257136,2002-03-10,Animation,81.0,7.5,411963.0
270,271,Harry Potter and the Chamber of Secrets,PG,100000000,876688482,2002-11-13,Fantasy,161.0,7.4,505027.0
304,305,The Incredibles,PG,92000000,631442092,2004-11-05,Animation,115.0,8.0,617102.0
309,310,Harry Potter and the Prisoner of Azkaban,PG,130000000,789804554,2004-05-31,Fantasy,141.0,7.9,501648.0
311,312,Shrek 2,PG,150000000,919838758,2004-05-19,Animation,93.0,7.2,391295.0
385,386,Kung Fu Panda,PG,130000000,631744560,2008-06-04,Animation,90.0,7.5,390478.0
410,411,Monsters vs Aliens,PG,175000000,381509870,2009-03-19,Animation,94.0,7.7,374981.0
411,412,Up,PG,175000000,735099082,2009-05-13,Animation,96.0,8.2,867393.0
415,416,Harry Potter and the Half-Blood Prince,PG,250000000,933959197,2009-07-07,Fantasy,153.0,7.6,429384.0
420,421,Despicable Me,PG,69000000,543513985,2010-07-08,Animation,95.0,7.6,473121.0
425,426,Megamind,PG,130000000,321887208,2010-10-28,Animation,95.0,7.2,212563.0
428,429,How to Train Your Dragon,PG,165000000,494878759,2010-03-05,Animation,98.0,8.1,624128.0
435,436,Tangled,PG,260000000,591794936,2010-11-24,Animation,100.0,7.7,374981.0
447,448,Puss in Boots: The Three Diablos,PG,130000000,555000000,2011-12-08,Animation,130.0,7.8,727724.0
451,452,Kung Fu Panda 2,PG,150000000,665692281,2011-05-25,Animation,91.0,7.2,234612.0
461,462,Hotel Transylvania,PG,85000000,358375603,2012-09-20,Animation,91.0,7.1,208916.0
466,467,Wreck-It Ralph,PG,165000000,471222889,2012-11-01,Animation,108.0,7.7,354202.0
468,469,Brave,PG,185000000,538983207,2012-06-21,Animation,93.0,7.1,346490.0
480,481,Despicable Me 2,PG,76000000,970761885,2013-06-25,Animation,98.0,7.4,350582.0
484,485,The Croods,PG,135000000,585178928,2013-03-20,Animation,98.0,7.2,180043.0
485,486,Frozen,PG,150000000,1274219009,2013-11-27,Animation,102.0,7.5,527284.0
498,499,The Lego Movie,PG,60000000,469160692,2014-02-06,Animation,100.0,7.8,309295.0
503,504,How to Train Your Dragon 2,PG,145000000,609123048,2014-06-12,Animation,102.0,7.8,285394.0
505,506,Big Hero 6,PG,165000000,652105443,2014-10-24,Animation,102.0,7.8,380953.0

### count of Animation movies with more than 7 in Rating (use the shape() function)

In [28]:
movies[(movies['genre'] == 'Animation') & (movies['rating'] > 7)].shape

(39, 10)

In [ ]:
movies.nlargest(5, 'budget_USD')

,movie_id,title,mpaa_rating,budget_USD,gross_USD,release_date,genre,runtime_min,rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000,2048000000,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000,1045713802,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000,-2147483648,2019-04-22,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000,1333000000,2019-12-09,Science Fiction,152.0,6.9,240347.5
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000,961000000,2007-05-19,Adventure,169.0,7.1,565402.0

### show the top 5 Comedy movies by Rating

In [ ]:
movies[movies['genre'] == 'Comedy'].nlargest(5,'rating')
#sorting in desc. order and showing only 5

,movie_id,title,mpaa_rating,budget_USD,gross_USD,release_date,genre,runtime_min,rating,rating_count
111,112,Forrest Gump,PG-13,55000000,677945399,1994-07-06,Comedy,142.0,8.8,1657851.0
185,186,The Truman Show,PG,60000000,264118201,1998-06-04,Comedy,103.0,8.1,859224.0
80,81,Groundhog Day,PG,14600000,70906973,1993-02-11,Comedy,101.0,8.0,549538.0
254,255,"Monsters, Inc.",G,115000000,562816256,2001-11-01,Comedy,92.0,8.0,758349.0
40,41,Fried Green Tomatoes,PG-13,11000000,119418501,1991-12-27,Comedy,130.0,7.7,62493.0

### top 5 movie names by Rating

In [ ]:
top_5_rating=movies.nlargest(5, 'rating')['title']

In [ ]:
top_5_rating

393                                  The Dark Knight
83                                  Schindler's List
98                                 Jurassic Park III
99                                      Pulp Fiction
287    The Lord of the Rings: The Return of the King
Name: title, dtype: object

### top 3 high Gross Romance movies released after 1999, not included (typecast it to datetime)

In [ ]:
movies[(movies['genre'] == 'Romance') & (movies['release_date'] > '1999-12-31')].nlargest(n=3, columns='gross_USD')

,movie_id,title,mpaa_rating,budget_USD,gross_USD,release_date,genre,runtime_min,rating,rating_count
464,465,The Twilight Saga: Breaking Dawn - Part 2,PG-13,120000000,829000000,2012-11-13,Romance,115.0,5.5,218357.0
442,443,The Twilight Saga: Breaking Dawn - Part 1,PG-13,110000000,712171856,2011-03-15,Romance,117.0,4.9,211592.0
401,402,The Twilight Saga: New Moon,PG-13,50000000,709827462,2009-03-15,Romance,130.0,4.7,252223.0

In [ ]:
# another way to do it
romance_movies = movies[(movies['genre'] == 'Romance')]
romance_movies = romance_movies[romance_movies['release_date'] > '1999-12-31'].nlargest(n=3, columns='gross_USD')

### how many Genres are present in the dataframe? (use the function value_counts() which applies to Series, not Dataframe

In [ ]:
movies['genre'].value_counts()

genre
Action             110
Comedy              99
Animation           87
Drama               66
Thriller            41
Science Fiction     37
Adventure           30
Family              29
Romance             28
Fantasy             27
Crime               17
Horror              14
Mystery             11
War                  9
Western              6
History              4
Name: count, dtype: int64

In [ ]:
movies['genre'].nunique()

16

### top 5 expensive movies released after 1999, not included (measured by Budget)

In [ ]:
movies = movies[movies['release_date'] > '31-12-1999']
movies.nlargest(n=5, columns='budget_USD')

,movie_id,title,mpaa_rating,budget_USD,gross_USD,release_date,genre,runtime_min,rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000,2048000000,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000,1045713802,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000,-2147483648,2019-04-22,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000,1333000000,2019-12-09,Science Fiction,152.0,6.9,240347.5
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000,961000000,2007-05-19,Adventure,169.0,7.1,565402.0

### most & least frequent MPAA Rating in the dataset in terms of occurrences

In [ ]:
mpaa_counts = movies['mpaa_rating'].value_counts() # count the frequency of MPAA Rating

In [ ]:
mpaa_counts

mpaa_rating
PG-13    220
PG       105
R         57
G         17
Name: count, dtype: int64

In [ ]:
mpaa_counts.nlargest(n=1) # Most frequent

mpaa_rating
PG-13    220
Name: count, dtype: int64

In [ ]:
mpaa_counts.nsmallest(n=1) # Least frequent

mpaa_rating
G    17
Name: count, dtype: int64

### most and least expensive Genre (take an average of all Budget measures grouped by Genre - use groupBy() method)

In [ ]:
genre_budget = movies.groupby('genre')['budget_USD'].mean()

In [ ]:
genre_budget.nlargest(n=1) # the most expensive

genre
Action    1.776623e+08
Name: budget_USD, dtype: float64

In [ ]:
genre_budget.nsmallest(n=1) #the least expensive

genre
Horror    47125000.0
Name: budget_USD, dtype: float64

### which Genre is favored the most by the people?

In [ ]:
genre_rating = movies.groupby('genre')['rating'].mean("rating") # group by genre and calculate the mean of rating
genre_rating.nlargest(n=1) # get the genre with the highest mean rating

genre
History    7.625
Name: rating, dtype: float64

In [ ]:
genre_rating

genre
Action             6.985455
Adventure          6.696667
Animation          7.110345
Comedy             6.631313
Crime              6.876471
Drama              7.193939
Family             6.117241
Fantasy            7.337037
History            7.625000
Horror             6.735714
Mystery            6.827273
Romance            6.400000
Science Fiction    7.151351
Thriller           6.995122
War                7.355556
Western            7.333333
Name: rating, dtype: float64